[submodule "AiUtil"]
	path = AiUtil
	url = https://github.com/Ai-Akaishi/AiUtil.git
[submodule "AiMath"]
	path = AiMath
	url = https://github.com/Ai-Akaishi/AiMath.git
[submodule "CloseDetector"]
	path = CloseDetector
	url = https://github.com/Ai-Akaishi/CloseDetector.git
